In [1]:
# import necessary libraries
import numpy as np
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt

In [2]:
# read weather data
columns_wanted = list(['STATION', 'DATE', 'HourlyWetBulbTemperature', 'HourlyRelativeHumidity', 'HourlyDryBulbTemperature'])
df = pd.read_csv('C:/Users/bregj/SportDataChallenge/Boston/2006916.csv', index_col=None, header=0, usecols=columns_wanted)

C:\Users\bregj\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (43) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.describe()

            STATION  HourlyRelativeHumidity  HourlyWetBulbTemperature
count  5.601100e+04            54493.000000              54465.000000
mean   7.250901e+10               70.063146                 47.253153
std    0.000000e+00               20.395658                 16.573862
min    7.250901e+10               12.000000                -10.000000
25%    7.250901e+10               54.000000                 35.000000
50%    7.250901e+10               72.000000                 48.000000
75%    7.250901e+10               88.000000                 61.000000
max    7.250901e+10              100.000000                 81.000000

In [4]:
# quick check why summary stats of HourlyDryBulbTemperature do not show
from pandas.api.types import is_string_dtype
is_string_dtype(df['HourlyDryBulbTemperature'])

True

In [5]:
# convert strings of HourlyDryBulbTemperature into numeric
df['HourlyDryBulbTemperature'] = pd.to_numeric(df['HourlyDryBulbTemperature'], errors='coerce')
# NaNs are still in the timeseries, might remove at later point

In [6]:
#save data
df.to_csv('weather_data_boston.csv', index=True)